body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

	.MuiFormControl-root{
vertical-align:bottom !important;
	}  

	.todo-individual-1{    
		background-color: lightcyan;    
	}

	.todo-individual-2{    
		background-color: lightgray;    
	}

	.todo-individual-3{    
		background-color: lightgreen;    
	}  

	.todo-individual-4{    
		background-color: lightblue;    
	}  

	.todo-individual-5{    
		background-color: lightyellow;    
	}  